<form method="post">

<h3>朝食</h3>
<input type="radio" name="breakfast" value="1">必要
<input type="radio" name="breakfast" value="0" checked>不要

<h3>昼食</h3>
<input type="radio" name="lunch" value="1">必要
<input type="radio" name="lunch" value="0" checked>不要

<h3>夕食</h3>
<input type="radio" name="dinner" value="1">必要
<input type="radio" name="dinner" value="0" checked>不要

<h3>帰宅時間</h3>
<input type="time" name="return_time">

<h3>メッセージ</h3>
<textarea name="message"></textarea>

<br><br>

<button type="submit">
登録
</button>

</form>